*{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: #fb6f92;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 0.5px solid #f7f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 700px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 400px;
    border: 1px solid #ffc6d4;
    border-radius: 5px;
    padding: 10px;
}

.input-box-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.addbtn{
    background-color: #fb6f92;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}